.btn-rent{
    display: flex;
    flex-direction: row;
  }
.item-number{
background-color: black;
} 
.reduce-btn{
  margin-left: 5px;
}
#car-count{
  border-color: black;
  width: 50px;
} 
.pay-btn {
  background: #000d6b !important;
  color: #fff !important;
  padding: 8px 15px;
  width: 50px;
  border: none;
  outline: none;
}
