.footer{
    background-color: #000d6b;
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    height:100px;


    margin-top: auto;
}
.footer a:hover{
    color:coral  
}