.header{
    background-color: #000d6b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    top:0;
    position:fixed;
    left: 0;
    right:0
  
    
}
.header-routes a:hover{
    color:coral  
}
.links-style{
    display: flex;
    flex-direction: 'row';
    justify-content: space-between;
    width: 30%;
}
.links-style a:hover{
    color:coral
  }
.burger-icon{
   color:#000d6b 
}
