.common-container{
  display:flex;
  align-self: center;
  width: 80%;
  background-color: brown;
}
.inner-body{
  margin-top: 50px;
}
.links{
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

.btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border:#fff;
  outline: none;
  border-radius: 5px;
 
}

.btn:hover {
  color: #fff !important;
  background: #000c6bd0;
}
.text-color{
  color: #f9a826 ;
}
.sub-text-color{
  color: #000d6b ;
}
.page-margin{
  margin-top: 80px;
}
.dropDownContainer{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;

}
body {
  margin: 0;
  background-color: #111;
  overflow: hidden;
}

canvas {
  display: block;
}